/* カスタムスタイルの追加 */
.carousel-container {
    margin-top: 58px; /* navbarの高さに合わせて調整 */
}

.icon{
    border-radius: 90px;
}

.section{
    visibility: hidden;
    transition: all 0.3s; 
    transform: translateY(100px);
    opacity: 0;
}

.Section__isActive {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.nav-tabs .nav-link {
    white-space: nowrap; /* テキストが折り返されないようにする */
    overflow: hidden; /* オーバーフローした部分を隠す */
    text-overflow: ellipsis; /* オーバーフローした部分を省略記号で表示する */
}

.footer{
    font-size: 12px;
}

.bi {
    color: #fff;
}

/*footerの波なみ*/
footer div {
  background-color:#4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
}
.arrow {
  stroke-width: .3px;
  stroke:yellow;
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}


/* タブが2行になるのを防ぐスタイル */
@media (max-width: 767.98px) {
    .nav-tabs {
        flex-wrap: nowrap;
    }
    .nav-item {
        flex: 0 0 auto;
        width: 25%; /* 4つのタブが一行に収まるように調整 */
    }
}


